{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTrivia</title>
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'trivia/style.css' %}">
</head>
<div class="page-header">
    <h1>Trivia Application</h1>
    Header
</div>
<body>
{% block content %}

{% endblock %}
</body>
<div class="create-new-container">
    Make a contribution!
    <div class="button-wrapper">
        <a href="../manage/">
            <button>New Question</button>
        </a>
        <a href="../new_cat/">
            <button>New Category</button>
        </a>
    </div>
</div>
<div class="last-ten-container">
        Latest Questions:
    <ul>
        {% for q in last_10_list %}
        <li>{{ q.question_text }}</li>
        {% endfor %}
    </ul>
</div>
<div class="page-footer">
    <div class="wrapper">
        <ul class="footer-list">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Site by: Daniel Dingess</a></li>
        </ul>
    </div>
</div>
</html>